.how-to-banner{
  background-image: url(https://res.cloudinary.com/de8carnhu/image/upload/v1642574558/banner_euruci.jpg);
  background-repeat: repeat-x;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.header{
  font-size: 1.5vw;
  background-color: white;
  margin: 4vw auto;
  text-align: center;
}