/* splash content */
.splash-header {
  background-image: url('https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% -17vw;
  
  position: relative;
  
  height: 280px;
}

.overlay {
  display: block;
  text-align: center;

  padding: 16px;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 999;

  box-sizing: border-box;
}

.overlay > h1{
  font-size: 40px;
  font-family: 'Roboto';
  letter-spacing: .25px;
  color: black;
  font-weight: 400;
  font-style: italic;
}

.overlay > button {
  cursor: pointer;
  font-weight: 300;
  border-radius: 4px;
  margin-top: 20px;
  padding: 8px;
  font-size: 16px;
  background-color: rgb(32, 178, 170);
  color: white;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 6px 10px 0px rgba(0, 0, 0, 0.14),
  0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.overlay > button:hover {
  background-color: #1a666b;
  color: #ccc;
}

.splash-header .banner {
  background-color: #ffffff;
  opacity: 40%;
  height: 280px;
}

.featured-projects {  
  background-color: white;
  
  padding-top: 48px;
  
  box-sizing: border-box;
}

@media only screen and (max-width: 575px) {
  .featured-projects .container-sm {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.featured-project {
}

.featured-project-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 25vw;
}

.featured-project-description {
}