/* splash content */
.splash-header {
  position: relative;
  
  height: 65vh;
  min-height: 280px;
}

.overlay {
  display: block;
  text-align: center;

  padding: 16px;

  position: absolute;
  top: 26vh;
  left: 0;
  transform: translateY(-35%);
  z-index: 999;

  box-sizing: border-box;
}

.overlay > h1{
  font-size: 40px;
  font-family: 'Roboto';
  letter-spacing: .25px;
  text-transform: uppercase;
  color: #fdfdfd;
  font-weight: 500;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, .6),
  0px 6px 10px rgba(0, 0, 0, .6),
  0px 1px 18px rgba(0, 0, 0, .6);
  /* font-style: italic; */
}

.overlay > button {
  cursor: pointer;
  font-weight: 300;
  border-radius: 4px;
  margin-top: 20px;
  padding: 8px;
  font-size: 16px;
  background-color: rgb(32, 178, 170);
  color: white;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 6px 10px 0px rgba(0, 0, 0, 0.14),
  0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.overlay > button:hover {
  background-color: #1a666b;
  color: #ccc;
}

.splash-header .banner {
  background-image: url('https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% -15vw;
  height: 65vh;
  min-height: 280px;
}

#featured-projects {
  height: 100vh;
}

#featured-projects .carousel-inner {
  height: 100vh;
}

#featured-projects .carousel-item {
  background: linear-gradient(#494553, #5b5764);
  
  height: 100vh;
}