

.project-title-header {
  background-color: lightseagreen;
}

.left-body {
  background-color: lightpink;
}

.collaborators-container {
  background-color: lightyellow;
}

.collaborators-list {
  background-color: green;
}