.projects-show-page {
  position: fixed;
  margin-top: 90px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: white;
}

.project-title-header > h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 5px;
}

.project-title-header {
  padding: 20px 0 10px 50px;  
}

.project-body {
  display: flex;
}

.left-body {
  height: 100%;
  margin: 15px 0 15px 40px;
  padding: 5px 0 15px 10px;
  border-radius: 10px;
  background-color: #F1F6F9;
}

.collaborators-container > h1 {
  font-size: 25px;
  margin-bottom: 5px;
}

.collab {
  margin-left: 10px;
  margin-bottom: 5px;
}

.collab:hover {
  color: rgb(28, 153, 147)
}

.mid-body {
  margin: 15px 20px 0 20px;
  /* width: 50%; */
}

.goal {
  border: 1px solid lightgrey;
}

.right-body {
  height: 100%;
  border: 1px solid lightgrey;
  margin: 15px 0 15px 5px;
  padding: 15px 0 15px 10px;
  width: 200px;
}

.diagram-section {
  background-color: #F1F6F9;
  border-radius: 10px;
  padding: 10px 35px 30px 35px;
  margin-left: 20px;
}

.details-container > h1 {
  font-size: 25px;
  margin-top: 30px;
}

.diagram-header > h1 {
  font-size:  30px;
  padding-bottom: 10px ;
}

.details-container > p {
  font-size: 15px;
  padding: 5px 0 5px 0;
}

.diagram-container {
  display: flex;
  width: 100%;
}

.diagram-viewbox {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  min-width: 500px;
  border: 1px solid black;
  width: 100%;
}

.diagram-textbox > form {
  display: flex;
  flex-direction: column;
}

.diagram-textbox textarea {
  width: 200px;
  resize: horizontal;
  min-height: 460px;
  min-width: 220px;
  max-width: 500px;
  border: 1px solid lightgrey;
  margin: 0px;
  /* width: 100%; */
  /* height: 264px; */
  /* resize: none; */
}

.goal-container {
  height: 100%;
  border: 1px solid lightgrey;
  margin: 15px 40px 15px 40px;
  padding: 15px 10px 15px 10px;
}

.add-task-container textarea {
  border: 1px solid black;
  width: 400px;
  height: 100px;
  resize: none;
}

.goals-title-edit-form > form {
  display: flex;
  flex-direction: column;
}

.goals-title-edit-form input {
  width: 400px;
  border: 1px solid black;
}

.goals-title-edit-form textarea {
  width: 400px;
  height: 100px;
  resize: none;
  border: 1px solid black;
}