.header-bg{
  height: 50vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: clip;
}

.header-bg > div {
  background: linear-gradient(0deg, rgba(32,178,170,1) 0%, rgb(138 204 204) 100%);
  height: 100%;
  width: 150vw;
  transform: rotate(354deg);
  transform-origin: bottom left;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header-bg>div>h2{
  transform: rotate(6deg);
  font-family: sans-serif;
  font-size: xxx-large;
  margin-right: 50vw;
  margin-bottom: 20vh;
  border: 1px;
  padding: 1vw;
  color: white;
  background: linear-gradient(0deg, rgba(32,178,170,1) 0%, rgb(138 204 204) 100%);
}


.profile-column{
  width: 100%;
  height: 70vh;
  margin-top: -15%;
  display: flex;
}

.column-left{
  padding-top: 20vh;
  padding-left: 3vw;
  font-family: sans-serif;
  width: 40%;
  height: 100%;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.column-left > h1 {
  color: lightseagreen;
  font-size: large;
}

.column-right{
  padding-top: 27vh;
  font-family: sans-serif;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-right > h1 {
  color: lightseagreen;
  font-size: large;
}