
.about{
  background: linear-gradient(0deg, rgba(203, 255, 255, 1) 0%, rgb(32, 178, 170) 100%);
  border-radius: 8px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 6px 10px 0px rgba(0, 0, 0, 0.14),
  0px 1px 18px 0px rgba(0, 0, 0, 0.12);

  margin: 0;
}

.connect{
  color: white;
  font-size: 48px;

  padding: 8px 12px;

  box-sizing: border-box;
}

.about-container{  
}

.about-container > div {
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 8px;
  box-sizing: border-box;
}

.about-container h3 {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.about-container {
  margin: 0;
}

.head{
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social > a > i{
  font-size: xx-large;
  margin-top: -8px;
  padding-bottom: 15px;
}

.github{
  margin-right: 0.5vw;
}

.linkedin{
  color: rgb(0, 119, 181);
  margin-left: 0.5vw;
}