.projects-index {
  /* display: flex; */
  margin: 30px 40px 40px 40px;
}
.category-filters {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.underline {
  width: 100%;
  border-bottom: 2px solid #6F6D74;
  align-self: center;
  margin-bottom: 20px;
}

.checklist {
  margin-left: 20px;
}

.dropdown {
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
} 

.dropdownbtn {
  height: 40px;
  width: 170px;
  background-color: #E5E5E5;
  color: #494553;
  font-size: 20px;
  font-weight: 300;
  padding-left: 20px;
  border-radius: 10px;
}

.dropdownbtn > i {
  float: right;
  margin: -18px 10px 0 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fdfdfd;
  border-radius: 5px;
  padding: 10px;
  width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.checklist-item {
  display: block;
  position: relative;
  padding-left: 40px;
  padding-bottom: 10px;
  cursor: pointer;
  font-size: 16.5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: #eee;
}

.checklist-item:hover input ~ .checkmark {
  background-color: #ccc;
}

.checklist-item input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checklist-item input:checked ~ .checkmark:after {
  display: block;
}

.checklist-item .checkmark:after {
  left: 9px;
  top: 3px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.right-index {
  width: 100%;
}
.right-index-listings {
  justify-content: center;
}

.right-index-listings > .index-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 370px;
  justify-items: center;
  align-items: center;
}

.index-listing-component {
  position: relative;
  background-color: #E6F2E2;
  border-radius: 20px;
  margin-bottom: 30px;
  width: 280px;
  height: 320px;
}

.index-listing-content {
  margin: 15px;
}

.index-listing-content > h1 {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 5px;
}

.index-listing-content > p {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.index-listing-footer {
  position: absolute;
  text-align: center;
  right:0;
  bottom:0;
  padding: 0 10px 10px 5px;
  font-size: 12.5px;
  font-weight: 600;
}

.learn-more, .apply-now {
  border-radius: 8px;
  width: 80px;
  height: 25px;
}

.learn-more {
  background-color: #E5E5E5;
  color: rgb(107, 107, 107);
}

.apply-now {
  margin-left: 8px;
  background-color: #21A59A;
  color: whitesmoke;
}