.projects-index {
  display: flex;
  margin: 30px 40px 40px 40px;
  width:100%;
}

.left-filter-column {
  display: block;
  width: 200px;
  margin-right: 20px;
}

.header {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.checklist {
  margin-left: 20px;
}

/* .category-header {
  margin: 15px 0 5px 0;
} */

.checklist-item {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.checklist-item:hover input ~ .checkmark {
  background-color: #ccc;
}

.checklist-item input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checklist-item input:checked ~ .checkmark:after {
  display: block;
}

.checklist-item .checkmark:after {
  left: 5.5px;
  top: 3px;
  width: 2px;
  height: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.right-index {
  padding-left: 30px;
  width: 100%;
}

.right-header {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.right-index-listings > .index-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
}

.index-listing-component {
  position: relative;
  background-color: #E6F2E2;
  border-radius: 20px;
  margin-bottom: 30px;
  width: 260px;
  height: 320px;
  align-items: center;
}

.index-listing-content {
  margin: 15px;
}

.index-listing-content > h1 {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 5px;
}

.index-listing-content > p {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.index-listing-footer {
  position: absolute;
  text-align: center;
  right:0;
  bottom:0;
  padding: 0 10px 10px 5px;
  font-size: 12.5px;
  font-weight: 600;
}

.learn-more, .apply-now {
  border-radius: 8px;
  width: 80px;
  height: 25px;
}

.learn-more {
  background-color: #E5E5E5;
  color: rgb(107, 107, 107);
}

.apply-now {
  margin-left: 8px;
  background-color: #21A59A;
  color: whitesmoke;
}