.navbar {
  padding-top: 10px;
  background-color: #494553;
  height: 80px;
  color: whitesmoke;
  font-size: 40px;
  font-weight: 600;
}

.left-nav {
  margin-top: 10px;
  float: left;
  padding-left: 25px;
  background-color:#494553;
}

.right-nav {
  float: right;
  padding-right: 25px;
  margin-top: 14px;
  background-color: #494553;
}
  
.logo {
  width: 45px;
}

.logo:hover{
  cursor: pointer;
}

.left-nav > h1 {
  float: right;
  font-weight: 600;
  font-size: 21px;
  margin: 13px 0 0 15px;
}

.left-nav > h1:hover {
  cursor: pointer;
}

.right-nav-links {
  float:left;
  margin: -10px 30px 0 0;
}

.right-nav-button {
  float: right;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
}

.login, .signup {
  border-radius: 3px;
  width: 82px;
  height: 38px;
  text-align: center;
}


.login {
  margin-left: 10px;
  background-color: white;
  color: #21A59A;
}

.signup {
  background-color:#21A59A;
}

.signup:hover, .about-us:hover, .login:hover, .logout:hover, .hidden-project:hover{
  cursor: pointer;
}

.about-us {
  font-size: 18px;
  font-weight: 200;
  background-color:#494553;
}

.dropdown-content-2 {
  /* display: none; */
  max-height: 0;
  position: absolute;
  background-color: #fdfdfd;
  border-radius: 5px;
  width: 188px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #6B6E76;
  font-weight: 300;
  overflow-y: hidden;
  right:0;
  left: auto;
  text-align: right;
  transition: max-height .5s ease-out;
  margin-top: 28px;
}

.dropdown:hover .dropdown-content-2 {
  display: block;
  max-height: 100vh;
  transition: max-height 1s
}

.dropdown-btn {
  margin-top: 10px;
} 

.drop-item {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  margin: 0 8px;
  padding: 16px 8px;
  transition: color .3s;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.drop-item:hover {
  background-color: rgb(32, 178, 170);
  color: white;
}

.drop-item > i {
  margin-right: 8px;
}

.drop-item:first-child {
  margin-top: 8px;
}

.drop-item:last-child {
  margin-bottom: 8px;
}


.hidden-project {
  text-align: right;
  color: lightseagreen;
}

.current-project {
  cursor: pointer;
}

.current-project:focus {
  display: block;
}

.hidden-project:hover {
  color: #494553;
}

.hidden-projects {
  justify-content: flex-start;
  margin: 0 16px;
  padding: 8px 0;
  border-bottom: 0.5px solid #d5d2d2;
}

.dropdown-content-2 * {
  cursor: pointer;
}

.right-nav-links, .right-nav-button * {
  cursor: pointer;
}