.navbar {
  padding-top: 10px;
  background-color: #494553;
  height: 80px;
  color: whitesmoke;
  font-size: 40px;
  font-weight: 600;
}

.left-nav {
  margin-top: 10px;
  float: left;
  padding-left: 25px;
  background-color:#494553;
}

.right-nav {
  float: right;
  padding-right: 25px;
  margin-top: 16px;
  background-color: #494553;
}
  
.logo {
  width: 45px;
}

.logo:hover{
  cursor: pointer;
}

.left-nav > h1 {
  float: right;
  font-weight: 600;
  font-size: 21px;
  margin: 13px 0 0 15px;
}

.right-nav-links {
  float:left;
  margin: -14px 30px 0 0;
}

.right-nav-button {
  float: right;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
}

.login, .signup {
  border-radius: 3px;
  width: 82px;
  height: 38px;
  text-align: center;
}

.demo-button{
  border: gray solid 1px;
  border-radius: 5px;
  padding: 5px;
}

.login {
  margin-left: 10px;
  background-color: white;
  color: #21A59A;
}

.login:hover{
  cursor: pointer;
}

.signup {
  background-color:#21A59A;
}

.signup:hover{
  cursor: pointer;
}

.about-us {
  font-size: 16px;
  background-color:#494553;
  margin-top: -30px;
}

.about-us:hover{
  cursor: pointer;
}