.navbar-co {
  background-color: #494553;
  height: 80px;
  color: whitesmoke;
  font-size: 40px;
  font-weight: 600;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 6px 10px 0px rgba(0, 0, 0, 0.14),
  0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
}

.navbar-co > .row {
  background-color: #494553;
}

.left-nav {
  display: flex;
  align-items: center;
  /* padding-left: 100px; */
  background-color:#494553;
}

.right-nav {
  display: flex;
  align-items: center;
  /* padding-right: 100px; */
  background-color: #494553;
}
  
.logo {
  width: 60px;
  margin-right: 8px;
}

.logo:hover{
  cursor: pointer;
}

.left-nav > h1 {
  font-weight: 600;
  font-size: 21px;
  cursor: pointer;
}

.right-nav .dropdown-btn {
  margin-top: 22px;
  margin-left: 16px;
  font-size: 14px;
  font-weight: 300;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.right-nav .dropdown-btn:hover {
  color: #ccc;
}

.login, .signup {
  border-radius: 3px;
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  text-align: center;
}


.login {
  margin-left: 10px;
  background-color: #e5e5e5;
  color: #21A59A;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.login:hover {
  background-color: #ccc;
  color:rgb(32, 178, 170, 1.2),
}

.signup {
  background-color:#21A59A;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.signup:hover {
  color: #ccc;
  background-color:#21A59Add;
}

.signup:hover, .about-us:hover, .login:hover, .logout:hover, .hidden-project:hover{
  cursor: pointer;
}

.about-us {
  font-size: 18px;
  font-weight: 500;
  background-color:#494553;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.about-us:hover {
  color: #ccc;
}

.dropdown-content-2 {
  /* display: none; */
  max-height: 0;
  position: absolute;
  background-color: #fdfdfd;
  border-radius: 5px;
  width: 227px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
  color: #6B6E76;
  font-weight: 300;
  overflow-y: hidden;
  right:0;
  left: auto;
  text-align: right;
  transition: max-height .5s ease-out;
  margin-top: 31px;
}

.dropdown:hover .dropdown-content-2 {
  display: block;
  max-height: 100vh;
  transition: max-height 1s
}

.dropdown-btn {
  margin-top: 10px;
  cursor: pointer;
} 

.drop-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  margin: 0 8px;
  padding: 16px 8px;
  transition: color .3s;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.drop-item:hover {
  background-color: rgb(32, 178, 170);
  color: white;
}

.drop-item > i {
  margin-right: 16px;
}

.drop-item:first-child {
  margin-top: 8px;
}

.drop-item:last-child {
  margin-bottom: 8px;
}

.hidden-project {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: lightseagreen;
}

.current-project {
  cursor: pointer;
}

.current-project:focus {
  display: block;
}

.hidden-project:hover {
  color: #494553;
}

.hidden-projects {
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 16px;
  padding: 8px 0;
  border-bottom: 0.5px solid #d5d2d2;
}

.right-nav-links, .right-nav-button * {
  cursor: pointer;
}

.auth-buttons {
  display: flex;
  align-items: center;
  margin-left: 24px;
  text-align: center;
}