.goals-create-form{
  width: 30vw;
  padding: 20px;
}

.goals-title {
  background-color: lightseagreen;
  color: whitesmoke;
  font-size: 16px;
  border-radius: 7px 7px 0 0;
  padding: 5px;
  text-align: center;
  font-weight: 500;
}

.goals-description {
  background-color: white;
  padding: 5px;
  padding-left: 8px;
}

.goals-create-title > h4{
  margin-bottom: 0.5vh;
}
.goals-create-title > input{
  border: 1px solid gray;
  border-radius: 5px;
  width: 97%;
  padding: 0.5vw;
}

.goals-create-description > h4{
  margin-bottom: 0.5vh;
}
.goals-create-description > input {
  border: 1px solid gray;
  border-radius: 5px;
  width: 97%;
  padding: 0.5vw;
  padding-bottom: 8vh;
}
.goal-buttons {
  display: flex;
  background-color: white;
  height: 25px;
  /* border-radius: 0 0 7px 7px; */
  margin-bottom: 15px;
}

.function-wrap{
  display: flex;
  height: 100%;
}

.edit-goal {
  width: 15%;
  height: 100%;
  margin-left: 8px;
}

.delete-wrap{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
.delete-goal{
  padding-right: 5px;
  position: relative;
  background-color: white;
  color: rgb(3, 3, 3);
  font-size: 15px;
}

.delete-goal:hover{
  color: red;
}

.view-tasks {
  width: 100%;
  text-align: center;
}

.edit-goal, .view-tasks {
  background-color: white;
  color: black;
  font-size: 15px;
}

.edit-goal:hover, .view-tasks:hover {
  color: lightseagreen;
}

.goals-create-task-list > h4{
  margin-bottom: 0.5vh;
}

.create-goal-tasks{
  list-style-type: circle;
}

.goals-create-task{
  display: grid;
  grid-template-columns: 2fr 0.7fr;
}
.goals-create-task > div >h5{
  margin-bottom: 0.5vh;
}
.goals-create-task > div > input{
  border: 1px solid gray;
  border-radius: 5px;
  width: 265px;
  padding: 0.5vw;
}
.add-task{
  display: flex;
  justify-content: center;
  align-items: end;
}
.add-task > button {
  border-radius: 5px;
  background-color: #534f5f;
  padding: 8px;
  color: white;
}

.add-goal{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}
.add-goal > button{
  padding: 20px;
  background-color: lightseagreen;
  border-radius: 5px;
  color: white;
  font-size: 1vw;
  width: 100%;
  text-align: center;
}
