.project-request {
  width: 400px;
  height: 240px;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 15px;
}

.form-greeting {
  width: 100%;
}

.greeting {
  font-size: 17px;
  font-weight: 600;
}

.question {
  padding: 10px 0 20px 0;
  font-size: 17px;
}

.roles > p {
  font-size: 16px;
}

.submit {
  position: absolute;
  background-color: #21A59A;
  color: whitesmoke;
  border-radius: 5px;
  right: 0;
  bottom: 0;
  padding: 10px;
  margin: 10px;
  /* padding-right: 30px; */
}

.position-request {
  columns: 2;
  margin: 5px;
}

.radio-item {
  padding: 3px;
  font-size: 16px;
}

.position-label {
  padding-left: 5px;
}