.create-project {
  background-color: #EAEBEA;
  width: 100%;
  margin-top: 90px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  position: fixed;
}

.create-project-form {
  position: relative;
  text-align: center;
  background-color: white;
  left: 50%;
  width: 680px;
  height: 790px;
  padding-right: 20px;
  margin: 50px 0px 50px -325px;
  border-radius: 10px;
}

.main-form {
  display: flex;
}

.form-header > p {
  font-size: 25px;
  font-weight: 600;
  padding-top: 30px;
  margin-left: 8px;
}

.form-body {
  display: flex;
  margin: 5px -70px 0 15px;
  padding-top: 30px;
  text-align: left;
}

.input-field {
  margin-right: 10px;
}

.project-title, .project-git {
  width: 300px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid lightgrey;
  margin-top:5px ;
  margin-bottom: 15px;
}

.project-description {
  color: rgb(172, 170, 170);
  font-size: 14px;
  margin-top: 5px;
  width: 400px;
  height: 80px;
  border: 1px solid lightgrey;
  color: black;
}

.right-form {
  columns: 2;
  padding-left: 40px;
}

.user-checks > .category-checklist-container {
  margin: 0 20px 10px 0;
}


.form-footer {
  align-items: center;
}

.user-checks {
  display: flex;
  margin: 10px 0 10px 0;
  width: 100%;
}

.save-button { 
  color: white;
  background-color: rgb(30, 160, 154);
  margin-top: 18px;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
}

.checklist-container {
  margin-left: -20px;
}

.create-category-header {
  padding-bottom: 10px;
}